<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <h1>Practica 4 | PC4</h1>
</head>
<body>
    <hr>
    <ul>
        <li><a href="listarcursos/">Listado de Cursos</a></li>
        <li><a href="agregarcurso/">Agregar Curso</a></li>
        <li><a href="listadocarreras/">Listado de Carreras</a></li>
        <li><a href="agregarcarreras/">Agregar Carreras</a></li>
    </ul>

    <hr>
    <footer>
        <p>Practica 4 | PC4</p>
    </footer>
</body>

</html>